extends layout

block content
//-   h1= title
//-   p Welcome to #{title}
  
//-   form(
//-     action='/api/poll'
//-     method='post'
//-   )
//-     input(
//-         type='text'
//-         name='title'
//-         placeholder='Title'
//-     )
//-     br
//-     input(
//-         type='submit'
//-         value='create poll'
//-     )    